@font-face {
    font-family: Bookman;
    src: url('../assets/Bookman.otf');
    font-display: swap;
}
a {
    color: #D98301;
    text-decoration: none;
    word-break: break-word;
    cursor: pointer;
    overflow-x: scroll;
}
a:visited {
    color: #AFAFA5;
}
* {
    box-sizing: border-box;
    font-family: Bookman;
    word-break: break-word;
    padding: 0px;
    margin: 0px;
}
img {
    overflow-x: scroll;
    display: none;
    margin: auto;
    width: 100%;
    height: auto;
}
hr {
    height: 2px;
    border: none;
    background: #AFAFA5;
}
div {
    overflow: scroll;
    word-break: break-word;
}
html {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 2em;
    margin: 0em;
    background: #161615;
    padding-bottom: 4em;
    overflow-y: hidden;
    color: #AFAFA5;
    width: 100%;
}
table {
    display: grid;
    text-align: center;
    width: 100%;
}
table tr, table td {
    display: grid;
    text-align: center;
    line-height: 1.5;
}
table tr p {
    display: grid;
    text-align: center;
    line-height: 1.5;
}
table p, table a, table td a {
    display: grid;
    text-align: center;
    text-decoration: none;
}
pre, span, i, blockquote, code, dd, dl, dt {
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    line-height: 1.5;
    font-size: normal;
}
h1, h2, h3, h4, h5, h6, p, li {
    margin: 1em 0em 1em 0em;
    overflow-x: scroll;
    word-break: break-word;
    text-align: center;
}
h1, table {
    text-align: center;
    word-break: break-word;
    overflow-x: scroll;
}
p, li {
    word-break: break-word;
    text-align: justify;
    overflow-x: scroll;
    line-height: 1.5;
    font-size: normal;
}
li {
    margin-left: 0em;
    overflow-x: scroll;
}
.theme {
    position: fixed;
    left: 0%;
    bottom: 0%;
    font-size: 1.25em;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top: 2px solid #FAF9F6;
    border-right: 2px solid #FAF9F6;
    border-left: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px 1px #121215;
    background: linear-gradient(135deg, #D98301, #D69B44);
    color: #FAF9F6;
    padding: .75em;
    padding: .45em;
}
.progress-bar {
    height: 5px;
    box-shadow: 1px 1px 2px 1px #121215;
    background: linear-gradient(135deg, #D98301, #D69B44);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 0;
}
.a2a_dd {
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #121215;
    background: linear-gradient(135deg, #D98301, #D69B44);
    color: #FAF9F6;
    border: 2px solid #FAF9F6;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    position: fixed;
    right: 5%;
    bottom: 5%;
}
.light{
    background: #FFFFF5;
    color: #444445;
}
.light a{
    color: #0011AA;
}
.light .theme{
    border-top: 2px solid #FAF9F6;
    border-right: 2px solid #FAF9F6;
    border-left: none;
    border-bottom: none;
    outline: none;
    color: #FAF9F6;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px 1px silver;
    background: linear-gradient(135deg, #0011AA, #0088FF);
}
.light .a2a_dd{
    background: linear-gradient(135deg, #0011AA, #0088FF);
    box-shadow: 1px 1px 2px 1px silver;
    color: #FAF9F6;
    border: 2px solid #FAF9F6;
}
.light .progress-bar{
    box-shadow: 1px 1px 2px 1px silver;
    background: linear-gradient(135deg, #0011AA, #0088FF);
}
.dark{
    background: #161615;
    color: #AFAFA5;
}
.splash{
    align-items: center;
    background: #161615;
    pointer-events: none;
    text-transform: uppercase;
    z-index: 999;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    padding: 32px;
    display: grid;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
}
.ad{
    position: fixed;
    transform: translate(-50%, 12%);
    left: 50%;
    top: 0%;
}
.ad .space{
    margin: auto;
    width: 320px;
    height: 50px;
}
@keyframes fade {
    0% {
        margin-top: -300px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}